<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />    
    <title>People detector</title>
</head>
<body>
    <div id="container">
        <h1>Bienvenue à People Detector</h1>
    
        <h2>Merci de respecter les gestes barrières : ne vous approchez pas à plus de <%= distance_securite / 100 %> cm.</h2>
    
        <% if (numeros < distance_securite) { %>
            <div id="message" class="danger">
        <% } else { %>
            <div id="message" class="clean">
        <% } %>
            <p> <%= distance %> </p>
            <p> <%= message %></p> 
        </div>
    </div>

    <script>
        // Rechargement de la page toutes les secondes pour afficher les données dynamiquement
        window.setInterval('refresh()', 1000); 	

        function refresh() {
            window.location.reload();
        }
    </script>
    
</body>
</html>