#container{
    margin: 20px;
}

h1, h2{
    text-align: center;
    color: violet;
    margin: 50px 0px;
}

.danger{
    color: red;
}

.clean{
    color: green;
}

#message{
    width: 50%;
    margin: 60px auto;
    border: black solid 1px;
    padding: 20px;
    text-align: center;
}